# .env.example
# Copy this to .env or set these in your deployment environment (AWS/GCP)

PORT=8080
DB_URL=jdbc:mysql://localhost:3306/bikeshare?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
DB_USERNAME=root
DB_PASSWORD=Italy@2025
JWT_SECRET=404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970
JWT_EXPIRATION=86400000
